/* ----HTML---- */
body,
html {
  line-height: 1.5;
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  background-color: #edf0f1;
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* ----Nav Bar---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.iconImage {
  max-width: 45px;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}
.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* ----Mobile Nav---- */
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

/* ----Splash Page---- */
.splashPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
  url("../../Images/Backgrounds/Computer4.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 1%;
  box-shadow: 0px 1px 10px 0 rgb(0 0 0 / 70%), 0 6px 30px 0 rgb(0 0 0 / 19%);
}

.splashPage h1 {
  font-size: 100px;
  color: #edf0f1;
  background: none;
  font-weight: 500;
}

/* ----Main---- */
.main {
  margin-top: 2%;
  height: auto;
  text-align: center;
  color: #24252a;
  display: block;
}

.main h2 {
  font-size: 70px;
}
/* ---- interests ---- */
.one {
  height: auto;
  padding: 20px;
}

.one ol {
  text-align: left;
  margin-left: 25%;
  margin-top: 1%;
  background: none;
  font-weight: 400px;
}

/* ---- languages ---- */
.languages {
  height: auto;
}

.container {
  width: 75%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 50px;
  margin-bottom: 1.5%;
}

.skills {
  text-align: right;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #edf0f1;
  border-radius: 50px;
}

.html {
  width: 90%;
  background-color: #9b280b;
}

.css {
  width: 80%;
  background-color: #2f46a5;
}

.js {
  width: 30%;
  background-color: #b9ac31;
}

.c-sharp {
  width: 76%;
  background-color: #612a6e;
}

.python {
  width: 70%;
  background-color: #24252a;
}

/* ---- Footer ---- */
.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
  background-color: #24262b;
}

ul {
	list-style: none;
}

.footer{
	background-color: #24262b;
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
  background-color: #24252a;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0088a9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* ----Responsive Design---- */
@media only screen and (max-width: 1586px) {
  .splashPage h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 1091px) {
  .myButton {
    margin: 4% 4% 0 4%;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }

  .splashPage h1 {
    font-size: 80px;
    text-align: center;
  }

  .one h2 {
    font-size: 50px;
  }

  .languages h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .splashPage h1 {
    font-size: 50px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}